.bold {
    font-weight:400
}

.nav-bar {
    background-color: purple;
    padding: 30px;
    text-align: right;
}


.footer {
    background-color: blue;
    padding: 20px;
    text-align: left;
}

.content {
    background-color: red;
    padding: 30px;
    margin: 10px;
    height: 500px;

}
div+a {
    background-color: pink;

}

div>h1 {
    background-color:silver;
}

div p {
    background-color: brown;
}
